<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
</head>
<body>
    <%-include('../includes/navbar.ejs')%>
    <!-- Card will be implemented here to show a Review About a Single Product. 
      Product Object is passed here so we can use that object to display.
    -->
      
    <div>
      

        <h1><%=product.productTitle%></h1>
        <h1><%=product.productPrice%></h1>
        <p><%=product.productReview%></p>
    </div>



</body>
</html>