<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/cards.css">
    <title><%=pageTitle%></title>



</head>
<body>
    <%-include('../includes/navbar.ejs')%>
    
    <div class="review-grid">
        
        <div class="card small-card">
        <img src="<%=product.productImgUrl%>" alt="Product Image" class="big-card-image"/>
    </div>
       <div class="card small-card">
        
        <h2 class="card-title"><%=product.productTitle%></h2>


        <div class="card-price"> 
            <ion-icon name="logo-usd"class="card-logo"></ion-icon>
            <p class="card-price-amount"><%=product.productPrice%></p>
        </div>

         <div class="card-rating">
            <% for(var i=1;i<=5;i++) {%>

               <% if(i<=product.productRating) {%>
          <ion-icon name="star-outline" class="card-logo color-icon"></ion-icon>
             <% } %>
                 
             <% if(i>product.productRating) {%>
          
                <ion-icon name="star-outline" class="card-logo"></ion-icon>
            <%  }  %>
 

            <% } %>
         </div>
        
         
         <div class="card-buttons">
            <form action="/admin/edit-review/<%=product.productId%>">
                <button>Edit Review</button>
            </form> 
            <form action="/admin/delete-review" method="post">
                <input type="hidden" name="productId" value="<%=product.productId%>">
                <button>Delete Review</button>
            </form>
            <form action="/admin/reviews/<%=product.productId%>">
                <button>More Details</button>
            </form>
         </div>


       </div>
       <div class="card small-card card-review"> 
        <blockquote><%=product.productReview%></blockquote>  
   </div>


    </div>
       
       
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>