<header class="nav-header">
        
        
    <h1 class="nav-heading"><%=pageHeading%></h1>
   
    <nav class="nav-header-nav">
        
        <ul class="nav-list"> 
            <li class="nav-list-item"><a href="/shop" class="<%=path==='/shop'? 'active':''%>">Shop</a></li>
            <li class="nav-list-item"><a href="/admin/add-review" class="<%=path==='/admin/add-review'? 'active':''%>">Add-Review</a></li>
            <li class="nav-list-item"><a href="/admin/reviews" class="<%=path==='/admin/reviews'? 'active':''%>">Reviews</a></li>
            <li class="nav-list-item"><a href="/wallet" class="<%=path==='/wallet'? 'active':''%>">My-Wallet</a></li>
            <li class="nav-list-item"><a href="#">Orders</a></li>
        </ul>


    </nav>
   
     <a href="/shop/cart" class="active"><ion-icon name="cart-outline" class="cart-icon"></ion-icon></a>

</header>